<%- include('../layouts/header') %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <small>THÊM QUÀ CHO USER</small>
    </h1>
  </section>

  <!-- Main content -->
  <!-- Task Manager -->
  <section class="content">
  <div class="row">
    <div class="col-xl-12 col-12">
      <div class="box" style="box-shadow: 1px 0 10px rgba(0,0,0,0.1);">
        <div class="panel-body">

          <!-- rule 1 -->
          <div class="form-group row">
            <div class="col-sm-3">
              <label>Mega ID</label>
              <input type="text" id="input-mega-id" class="form-control" value="">
            </div>
            <div class="col-sm-4" style="position: absolute; top: 50%; left: 30%;">
              <label>Loại Quà</label>
              <select id="sel-special-item">
                <% for (let e of special_items) { %>
                  <option value="<%= e['id'] %>"><%= e['description'] %></option>
                <% } %>
              </select>
            </div>

            <div class="col-sm-4" style="text-align: center; position: absolute; top: 40%; left: 50%;">
              <button style="width: 80px;" class="btn-update-global" id="btn-add-special-item">Thêm</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

</section>
  <!-- /.content -->
</div>

<script>

  $(document).ready(() => {

    $('#btn-add-special-item').click(() => {
      let megaID  = $('#input-mega-id').val();
      let idItem  = $('#sel-special-item').val();

      if (megaID === '' || idItem === '') {
        alert('Check info data!');
        return;
      }
      
      $.ajax({
        url               : env.http + window.location.host + '/api/v1/admin/item/add-special-item',
        method            : 'POST',
        contentType       : 'application/json; charset=utf-8',
        data              : JSON.stringify({
          mega_id         : megaID,
          id_item         : idItem
        })
      })
        .done((data) => {

          if (data['status_code'] !== 2000) {
            alert(data['error']);
            return;
          }
          alert(data['msg']);

        })
        .fail(() => {});
    });

  });

</script>

<%- include('../layouts/footer') %>