<%- include('../layouts/header') %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <small>THÊM QUÀ CHO USER</small>
    </h1>
  </section>

  <!-- Main content -->
  <!-- Task Manager -->
  <section class="content">
    <div class="row">
      <div class="col-xl-12 col-12">
        <div class="box" style="box-shadow: 1px 0 10px rgba(0,0,0,0.1);">
          <div class="panel-body">

            <!-- ADD SPECIAL ITEM -->
            <div class="form-group row">
              <div class="col-sm-3">
                <label>Mega ID</label>
                <input type="text" id="input-mega-id" class="form-control" value="">
              </div>
              <div class="col-sm-4" style="position: absolute; top: 50%; left: 30%;">
                <label>Loại Quà</label>
                <select id="sel-special-item">
                  <% for (let e of special_items) { %>
                    <option value="<%= e['id'] %>"><%= e['description'] %></option>
                  <% } %>
                </select>
              </div>

              <div class="col-sm-4" style="text-align: center; position: absolute; top: 40%; left: 50%;">
                <button style="width: 80px;" class="btn-update-global" id="btn-add-special-item">Thêm</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-12">
        <div class="box" style="box-shadow: 1px 0 10px rgba(0,0,0,0.1);">
          <div class="panel-body">

            <!-- SET TURN FOR USER -->
            <div class="form-group row">
              <div class="col-sm-3">
                <label>Mega ID</label>
                <input type="text" id="input-mega-id-turn" class="form-control" value="">
              </div>
              <div class="col-sm-3" style="position: absolute; top: 13%; left: 30%;">
                <label>Số Lượt</label>
                <input  id="input-turn" placeholder="Số lượt"
                        class="form-control input-md" type="number"
                        step="0" min="0">
              </div>

              <div class="col-sm-4" style="text-align: center; position: absolute; top: 40%; left: 50%;">
                <button style="width: 80px;" class="btn-update-global" id="btn-set-turn">Cập Nhật</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-12">
        <div class="box" style="box-shadow: 1px 0 10px rgba(0,0,0,0.1);">
          <div class="panel-body">

            <!-- ADD/REMOVE LUCKY CODE USER -->
            <div class="form-group row">
              <div class="col-sm-3">
                <label>Mega ID</label>
                <input type="text" id="input-mega-id-lucky-code" class="form-control" value="">
              </div>
              <div class="col-sm-4" style="position: relative; left: 5%;">
                <label style="display: block;">MCH</label>
                <textarea name="tf-lucky-code" id="tf-lucky-code" cols="40" rows="5"></textarea>
              </div>

              <div class="col-sm-4" style="text-align: center; position: absolute; top: 40%; left: 55%;">
                <button style="width: 80px;" class="btn-update-global" id="btn-add-lucky-code">THÊM</button>
                <button style="width: 80px; margin-left: 20px" class="btn-update-global" id="btn-del-lucky-code">XÓA</button>
              </div>
              <!-- <div class="col-sm-2" style="text-align: center; position: absolute; top: 40%; left: 60%;">
                <button style="width: 80px;" class="btn-update-global" id="btn-set-turn">Cập Nhật</button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-12">
        <div class="box" style="box-shadow: 1px 0 10px rgba(0,0,0,0.1);">
          <div class="panel-body">

            <!-- ADD CODE FOR USER TO GET TURN -->
            <div class="form-group row">
              <div class="col-sm-3">
                <label>Mega ID</label>
                <input type="text" id="input-mega-id-code" class="form-control" value="">
              </div>
              <div class="col-sm-4" style="position: relative; left: 5%;">
                <label style="display: block;">MÃ DỰ THƯỞNG</label>
                <textarea name="tf-lucky-code" id="tf-code" cols="40" rows="5"></textarea>
              </div>

              <div class="col-sm-4" style="text-align: center; position: absolute; top: 40%; left: 50%;">
                <button style="width: 80px;" class="btn-update-global" id="btn-add-code">THÊM</button>
                <button style="width: 80px; margin-left: 20px" class="btn-update-global" id="btn-del-code">XÓA</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- DELETE SPECIAL ITEM -->
    <div class="row">
      <div class="col-xl-12 col-12">
        <div class="box" style="box-shadow: 1px 0 10px rgba(0,0,0,0.1);">
          <div class="panel-body">

            <h4 style="font-weight: bold;">XÓA QUÀ</h4>

            <!-- DELETE SPECIAL ITEM -->
            <div>
              <div class="div-all-item">
                <label class="time-right">Tìm Kiếm</label>
                <input  style="outline-style: none;" type="text"
                        id="search-mega-id" class="col-3 time-right"
                        value="" placeholder="Mega ID">
      
                <button class="btn-update-global time-right" id="btn-search-mega-id">TÌM</button>
              </div>
      
              <table id="table-special-item" class="footable table table-stripped">
                <thead>
                  <tr>
                    <th style="font-weight: bold;">VẬT PHẨM</th>
                    <th style="font-weight: bold;">THỜI GIAN</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>
  <!-- /.content -->
</div>

<script>

  $(document).ready(() => {

    $('#btn-add-special-item').click(() => {
      $('#loading').css('display', 'block');
      let megaID  = $('#input-mega-id').val();
      let idItem  = $('#sel-special-item').val();

      if (megaID === '' || idItem === '') {
        $('#loading').css('display', 'none');
        alert('Check info data!');
        return;
      }
      
      $.ajax({
        url               : env.http + window.location.host + '/api/v1/admin/item/add-special-item',
        method            : 'POST',
        headers       : {
          'Authorization'	: `Bearer ${localStorage.getItem('token')}`,
          'Content-Type'	:'application/json'
        },
        data              : JSON.stringify({
          mega_id         : megaID.toUpperCase(),
          id_item         : idItem
        })
      })
        .done((data) => {

          if (data['status_code'] !== 2000) {

            if (data['error'] === 'unvalid token') {
              window.location.href = env.http + window.location.host + '/api/v1/admin/signin';
              return;
            }

            $('#loading').css('display', 'none');
            alert(data['error']);
            return;
          }
          $('#loading').css('display', 'none');
          alert(data['msg']);

        })
        .fail(() => {});
    });

    $('#btn-set-turn').click(() => {
      $('#loading').css('display', 'block');
      let megaID  = $('#input-mega-id-turn').val();
      let turn    = $('#input-turn').val();

      if (megaID === '' || turn === '') {
        $('#loading').css('display', 'none');
        alert('Check input data!');
        return;
      }

      $.ajax({
        url               : env.http + window.location.host + '/api/v1/admin/item/set-turn',
        method            : 'POST',
        headers       : {
          'Authorization'	: `Bearer ${localStorage.getItem('token')}`,
          'Content-Type'	:'application/json'
        },
        data              : JSON.stringify({
          mega_id         : megaID.toUpperCase(),
          turn            : turn
        })
      })
        .done((data) => {

          if (data['status_code'] !== 2000) {
            $('#loading').css('display', 'none');
            alert(data['error']);
            return;
          }
          $('#loading').css('display', 'none');
          alert(data['msg']);

        })
        .fail(() => {});
    });

    $('#btn-add-lucky-code').click(() => {
      let megaID      = $('#input-mega-id-lucky-code').val().trim().toUpperCase();
      let luckyCodes  = $('#tf-lucky-code').val().split(',').map(i => {return i.trim().toUpperCase()});
      if (megaID === '' || !isValidLsLuckyCode(luckyCodes)) {
        alert('Check input data!');
        return;
      }
      updateLuckyCodeUser(megaID.toUpperCase(), luckyCodes, 1);
    });

    $('#btn-del-lucky-code').click(() => {
      let megaID      = $('#input-mega-id-lucky-code').val().trim().toUpperCase();
      let luckyCodes  = $('#tf-lucky-code').val().split(',').map(i => {return i.trim().toUpperCase()});
      if (megaID === '' || !isValidLsLuckyCode(luckyCodes)) {
        alert('Check input data!');
        return;
      }
      updateLuckyCodeUser(megaID.toUpperCase(), luckyCodes, 0);
    });

    $('#btn-add-code').click(() => {
      let megaID  = $('#input-mega-id-code').val().toUpperCase();
      let codes   = $('#tf-code').val().split(',').map(i => { return i.trim() });
      if (megaID === '' || codes.length <= 0) {
        alert('Check input data!');
        return;
      }
      addCodeToGetTurnForUser(megaID, codes);
    });

    $('#btn-del-code').click(() => {
      let megaID  = $('#input-mega-id-code').val().toUpperCase();
      let code    = $('#tf-code').val();
      if (megaID === '' || code === '') {
        alert('Check input data!');
        return;
      }
      delCodeToGetTurnForUser(megaID, code);
    });

    getListSpecialItemUser();
    delSpecialItem();

  });

  //action: 0 -> del, 1 -> add
  function updateLuckyCodeUser(megaID, luckyCodes, action) {
    $('#loading').css('display', 'block');
    $.ajax({
      url               : env.http + window.location.host + '/api/v1/admin/item/update-lucky-code-user',
      method            : 'POST',
      headers           : {
        'Authorization'	: `Bearer ${localStorage.getItem('token')}`,
        'Content-Type'	:'application/json'
      },
      data              : JSON.stringify({mega_id: megaID, ls_lucky_code: luckyCodes, action: action })
    })
      .done((data) => {

        if (data['status_code'] !== 2000) {
          $('#loading').css('display', 'none');
          alert(data['error']);
          return;
        }
        $('#loading').css('display', 'none');
        alert(data['msg']);

      })
      .fail(() => {});
  }

  function addCodeToGetTurnForUser(megaID, codes) {
    $('#loading').css('display', 'block');
    $.ajax({
      url               : env.http + window.location.host + '/api/v1/admin/item/enter-code',
      method            : 'POST',
      headers           : {
        'Authorization'	: `Bearer ${localStorage.getItem('token')}`,
        'Content-Type'	:'application/json'
      },
      data              : JSON.stringify({ mega_id: megaID, codes: codes })
    })
      .done((data) => {

        if (data['status_code'] !== 2000) {
          $('#loading').css('display', 'none');
          alert(data['error']);
          return;
        }
        $('#loading').css('display', 'none');
        alert(data['msg']);

      })
      .fail(() => {});
  }

  function delCodeToGetTurnForUser(megaID, code) {
    $('#loading').css('display', 'block');
    $.ajax({
      url               : env.http + window.location.host + '/api/v1/admin/item/remove-code-get-turn',
      method            : 'POST',
      headers           : {
        'Authorization'	: `Bearer ${localStorage.getItem('token')}`,
        'Content-Type'	:'application/json'
      },
      data              : JSON.stringify({ mega_id: megaID, code: code })
    })
      .done((data) => {

        if (data['status_code'] !== 2000) {
          $('#loading').css('display', 'none');
          alert(data['error']);
          return;
        }
        $('#loading').css('display', 'none');
        alert(data['msg']);

      })
      .fail(() => {});
  }

  function getListSpecialItemUser() {
    $('#btn-search-mega-id').click(() => {
      $('#loading').css('display', 'block');
      let megaID = $('#search-mega-id').val();
      if (megaID === '') {
        $('#loading').css('display', 'none');
        alert('Check data search!');
        return;
      }

      $.ajax({
        url               : env.http + window.location.host + '/api/v1/admin/item/get-list-special-item-user',
        method            : 'POST',
        headers       : {
          'Authorization'	: `Bearer ${localStorage.getItem('token')}`,
          'Content-Type'	:'application/json'
        },
        data              : JSON.stringify({
          mega_id         : megaID.toUpperCase()
        })
      })
        .done((data) => {

          if (data['status_code'] !== 2000) {
            $('#loading').css('display', 'none');
            alert(data['error']);
            return;
          }
          $('#loading').css('display', 'none');
          setTableSpecialItem(data['result'], megaID);

        })
        .fail(() => {});
    });
  }

  function delSpecialItem() {
    $('body').delegate('.del-special-item', 'click', (event) => {
      $('#loading').css('display', 'block');
      let value     = event.currentTarget.attributes.getNamedItem('data-id').value;
      let split     = value.split('_');
      let condition = `${split[1]}_${split[2]}`;

      if (condition === '') {
        $('#loading').css('display', 'none');
        alert('Check data!');
        return;
      }

      $.ajax({
        url               : env.http + window.location.host + '/api/v1/admin/item/del-special-item',
        method            : 'POST',
        headers       : {
          'Authorization'	: `Bearer ${localStorage.getItem('token')}`,
          'Content-Type'	:'application/json'
        },
        data              : JSON.stringify({
          mega_id         : split[0].toUpperCase(),
          condition       : condition
        })
      })
        .done((data) => {

          if (data['status_code'] !== 2000) {
            $('#loading').css('display', 'none');
            alert(data['error']);
            return;
          }
          $('#loading').css('display', 'none');
          setTableSpecialItem(data['ls_special_item_update']);

        })
        .fail(() => {});
    });
  }

  function setTableSpecialItem(data, megaID) {
    $('#table-special-item tbody').remove();

    let markup = '<tbody>';
    for (let d of data) {
      markup += `
        <tr>
          <td>${d['description']}</td>
          <td>${d['time']}</td>
          <td class="text-right">
            <div class="btn-group">
                <a href="#" class="del-special-item" data-id="${megaID}_${d['id']}_${d['millisecond']}"
                    style="margin-left: 20px">Delete</a>
            </div>
          </td>
        </tr>
      `;
    }
    markup += '</tbody>';
    $('#table-special-item').append(markup);
  }

  function isValidLsLuckyCode(luckyCodes) {
    if (luckyCodes.length <= 0) return false;
    for (let l of luckyCodes) {
      if (l.length !== 6) {
        return false;
      }
    }
    return true;
  }

</script>

<%- include('../layouts/footer') %>