<%- include('../layouts/header') %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>CẤU HÌNH THÔNG SỐ TRONG GAME </h1>

  </section>

  <section class="content">
    <div class="tab-content">
      <div id="tab-1" class="tab-pane active">
          <div class="panel-body" style="background-color: white;">
                  <!-- method="POST"     action="http://localhost:3000/api/them-san-pham" -->
              <!-- <form  enctype="multipart/form-data" method="POST"     action="http://localhost:3000/api/them-san-pham"> -->
                  <div class="form-group row"><label class="col-sm-2 col-form-label">Partition(số cửa):</label>
                      <div class="col-sm-10"><input type="text" class="form-control"
                              placeholder="10" name="partition"></div>
                  </div>
                  <div class="form-group row"><label class="col-sm-2 col-form-label">Velocity(vận tốc xoay):</label>
                      <div class="col-sm-10"><input type="text" class="form-control"
                              placeholder="1000" name="product_price"></div>
                  </div>
                  <div class="form-group row"><label class="col-sm-2 col-form-label">Dura_Fly_Knife(vận tốc tiêu bay):</label>
                    <div class="col-sm-10"><input type="text" class="form-control"
                            placeholder="0.1" name="product_price"></div>
                   </div>
                  <div class="form-group row"><label class="col-sm-2 col-form-label">Dura_ani_board(vận tốc thớt bay):</label>
                     <div class="col-sm-10"><input type="text" class="form-control"
                          placeholder="0.1" name="product_price"></div>
                  </div>
                  <div class="form-group row"><label class="col-sm-2 col-form-label">distane_ani_board(khoảng cách thớt bay):</label>
                    <div class="col-sm-10"><input type="text" class="form-control"
                         placeholder="50" name="product_price"></div>
                 </div>
              <!-- </form> -->


          </div>
      </div>


  </div>
  </section>
  <section class="content">
    <div style="background-color: white;">
      <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
        <tbody>
            <tr>
                <td>
                    <h4>ok</h4>
                </td>
                <td>
                    <h4>img</h4>
                </td>
                <td>
                    ok
                </td>
  
                <td>
                  <h4>ok3</h4>
  
                </td>
                <td>
                  ok
                </td>
                <td>
                    <span class="label label-primary prod_quantity">ok</span>
  
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <a href="#"
                            style="margin-right: 20px">
                            View
                        </a>
                        <p class="product_id" hidden>ok</p>
                        <a href="#" class="abc"  data-toggle="modal"
                            data-target="#myModal">Edit</a>
                        <a href="#" class="del" 
                            style="margin-left: 20px">delete</a>
                    </div>
                </td>
            </tr>
  
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js">
            </script>
  
            <!-- ////////////////js  status products ////////////////////////-->
            <script>
  
                $(document).ready(() => {
                    $('.prod_quantity').each((index, element) => {
                        if (parseInt($(element).text()) > 5) {
                            $((element)).html('Enable')
  
                        } else if (parseInt($(element).text()) > 1 && parseInt($(element).text()) < 5) {
                            $((element)).html('Low Stock').css("background-color", "orange")
  
                        }
                        else {
                            $((element)).html('Disable').css("background-color", "red")
  
                        }
                    })
                })
            </script>
            <!--/////////////////// end ///////////////////////////////////  -->
            <!-- ///////////////////modal///////////////////////// -->
            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
  
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">EDIT PRODUCT</h4>
                            <button type="button" class="close"
                                data-dismiss="modal">&times;</button>
                        </div>
  
                        <!-- Modal body -->
                        <div class="modal-body">
                            <form id="myForm" class="form-horizontal" method="POST"
                                enctype="multipart/form-data">
                                <fieldset>
                                    <input id="ID" hidden type="text">
  
                                    <!-- Form Name -->
  
  
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="product_name"
                                            value="">PRODUCT
                                            NAME</label>
                                        <div class="col-md-12">
                                            <input id="product_name1" name="product_name"
                                                placeholder="PRODUCT NAME"
                                                class="form-control input-md" required=""
                                                type="text">
  
                                        </div>
                                    </div>
  
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label"
                                            for="product_name_fr">PRODUCT PRICE </label>
                                        <div class="col-md-12">
                                            <input id="product_price" name="product_price"
                                                placeholder="PRODUCT DESCRIPTION FR"
                                                class="form-control input-md" required=""
                                                type="text">
  
                                        </div>
                                    </div>
                                    <!-- File Button -->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label"
                                            for="filebutton">IMAGE</label>
                                        <div class="col-md-12">
                                            <input id="image" name="image" class="input-file"
                                                type="file" src="">
                                        </div>
                                    </div>
  
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label"
                                            for="available_quantity">RPODUCT QUANTITY</label>
                                        <div class="col-md-12">
                                            <input id="product_quantity" name="product_quantity"
                                                placeholder="AVAILABLE QUANTITY"
                                                class="form-control input-md" required=""
                                                type="number">
  
                                        </div>
                                    </div>
  
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-12 control-label"
                                            for="product_weight">PRODUCT DETAIL</label>
                                        <div class="col-md-12">
                                            <textarea class="form-control" id="product_detail"
                                                name="product_detail"></textarea>
  
                                        </div>
                                    </div>
  
                                  
                                    <div>
                                        <label for="departmentsDropdown"
                                            style="margin-left: 15px"><b>CATEGORY</b></label>
                                        <select class="form-control" id="departmentsDropdown"
                                            name="cate_id"
                                            style="width: 93%; margin-left: 15px"></select>
                                    </div>
                                    <br>
                                    <br>
  
  
                                   
  
                                    <!-- Button -->
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button id="post" type="submit" name="singlebutton"
                                                class="btn btn-primary">Button</button>
                                            <button style="float: right" type="button"
                                                class="btn btn-danger"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
  
                                </fieldset>
                            </form>
                        </div>
  
                    </div>
                </div>
            </div>
            <!-- ////////////////////////end////////////////////// -->
            <!-- ////////////////// js edit product////////////////// -->
          
  
        </tbody>
        <tbody>
          <tr>
              <td>
                  <h4>ok</h4>
              </td>
              <td>
                  <h4>img</h4>
              </td>
              <td>
                  ok
              </td>

              <td>
                <h4>ok3</h4>

              </td>
              <td>
                ok
              </td>
              <td>
                  <span class="label label-primary prod_quantity">ok</span>

              </td>
              <td class="text-right">
                  <div class="btn-group">
                      <a href="#"
                          style="margin-right: 20px">
                          View
                      </a>
                      <p class="product_id" hidden>ok</p>
                      <a href="#" class="abc"  data-toggle="modal"
                          data-target="#myModal">Edit</a>
                      <a href="#" class="del" 
                          style="margin-left: 20px">delete</a>
                  </div>
              </td>
          </tr>

          </script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js">
          </script>

          <!-- ////////////////js  status products ////////////////////////-->
          <script>

              $(document).ready(() => {
                  $('.prod_quantity').each((index, element) => {
                      if (parseInt($(element).text()) > 5) {
                          $((element)).html('Enable')

                      } else if (parseInt($(element).text()) > 1 && parseInt($(element).text()) < 5) {
                          $((element)).html('Low Stock').css("background-color", "orange")

                      }
                      else {
                          $((element)).html('Disable').css("background-color", "red")

                      }
                  })
              })
          </script>
          <!--/////////////////// end ///////////////////////////////////  -->
          <!-- ///////////////////modal///////////////////////// -->
          <!-- The Modal -->
          <div class="modal" id="myModal">
              <div class="modal-dialog">
                  <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header">
                          <h4 class="modal-title">EDIT PRODUCT</h4>
                          <button type="button" class="close"
                              data-dismiss="modal">&times;</button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body">
                          <form id="myForm" class="form-horizontal" method="POST"
                              enctype="multipart/form-data">
                              <fieldset>
                                  <input id="ID" hidden type="text">

                                  <!-- Form Name -->


                                  <!-- Text input-->
                                  <div class="form-group">
                                      <label class="col-md-4 control-label" for="product_name"
                                          value="">PRODUCT
                                          NAME</label>
                                      <div class="col-md-12">
                                          <input id="product_name1" name="product_name"
                                              placeholder="PRODUCT NAME"
                                              class="form-control input-md" required=""
                                              type="text">

                                      </div>
                                  </div>

                                  <!-- Text input-->
                                  <div class="form-group">
                                      <label class="col-md-12 control-label"
                                          for="product_name_fr">PRODUCT PRICE </label>
                                      <div class="col-md-12">
                                          <input id="product_price" name="product_price"
                                              placeholder="PRODUCT DESCRIPTION FR"
                                              class="form-control input-md" required=""
                                              type="text">

                                      </div>
                                  </div>
                                  <!-- File Button -->
                                  <div class="form-group">
                                      <label class="col-md-12 control-label"
                                          for="filebutton">IMAGE</label>
                                      <div class="col-md-12">
                                          <input id="image" name="image" class="input-file"
                                              type="file" src="">
                                      </div>
                                  </div>

                                  <!-- Text input-->
                                  <div class="form-group">
                                      <label class="col-md-12 control-label"
                                          for="available_quantity">RPODUCT QUANTITY</label>
                                      <div class="col-md-12">
                                          <input id="product_quantity" name="product_quantity"
                                              placeholder="AVAILABLE QUANTITY"
                                              class="form-control input-md" required=""
                                              type="number">

                                      </div>
                                  </div>

                                  <!-- Text input-->
                                  <div class="form-group">
                                      <label class="col-md-12 control-label"
                                          for="product_weight">PRODUCT DETAIL</label>
                                      <div class="col-md-12">
                                          <textarea class="form-control" id="product_detail"
                                              name="product_detail"></textarea>

                                      </div>
                                  </div>

                                
                                  <div>
                                      <label for="departmentsDropdown"
                                          style="margin-left: 15px"><b>CATEGORY</b></label>
                                      <select class="form-control" id="departmentsDropdown"
                                          name="cate_id"
                                          style="width: 93%; margin-left: 15px"></select>
                                  </div>
                                  <br>
                                  <br>


                                 

                                  <!-- Button -->
                                  <div class="form-group">
                                      <div class="col-md-12">
                                          <button id="post" type="submit" name="singlebutton"
                                              class="btn btn-primary">Button</button>
                                          <button style="float: right" type="button"
                                              class="btn btn-danger"
                                              data-dismiss="modal">Close</button>
                                      </div>
                                  </div>

                              </fieldset>
                          </form>
                      </div>

                  </div>
              </div>
          </div>
          <!-- ////////////////////////end////////////////////// -->
          <!-- ////////////////// js edit product////////////////// -->
        

      </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <ul class="pagination float-right"></ul>
                </td>
            </tr>
        </tfoot>
        <!-- Page-Level Scripts -->
        <script>
            $(document).ready(function () {
                $('.footable').footable();
            });
        </script>
    </table>
    </div>
   
  </section>
  <div style="text-align: center; margin-bottom: 10%;">
    <button  type="button" class="btn btn-primary">submit</button>
  </div>
  <br>
</div>
<script>
  
  var getApi


  $(document).ready(() => {
      $('.abc').each((i, e) => {
          $(e).click(() => {
              var temp = $(e).data('id')
              getApi = 'http://localhost:3000/api/show-form/' + temp
              //postData(temp)

              Edit_product(getApi)

          })

      })
      $('.del').each((i, e) => {
          $(e).click(() => {
              var temp = $(e).data('id')
              //  function AlertDelete() {
              swal({
                  title: 'Are you sure?',
                  text: "You won't be able to revert this!",
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                  if (result.value) {
                      Swal.fire(
                          'Deleted!',
                          'Your file has been deleted.',
                          'success'
                      )
                      setTimeout(() => {
                          $.ajax({
                          url: 'http://localhost:3000/api/xoa-san-pham/' + temp,
                          type: 'POST',
                      }).done((data) => {
                          if (data.check.length > 0) {
                              window.location.reload()
                          } else {
                              alert(data.message)
                          }
                      }).fail(data => {
                          console.log(data);

                      })
                      }, 500);
                      
                  }
              })
              //  }


          })

      })

  })
  ///////// combobox category//////////
  $(document).ready(() => {
      $.ajax({
          type: "GET",
          url: "http://localhost:3000/api/tat-ca-the-loai",
          dataType: 'json',
          success: function (data) {
              console.log('load data', data.data[0].cate_name);

              var s = '<option id="getCate" value="-1">Chọn thể loại</option>';
              var ss = []
              for (var i = 0; i < data.data.length; i++) {
                  s += '<option value="' + data.data[i]._id + '">' + data.data[i].cate_name + '</option>';
                  ss.push(data.data[i]._id)
              }
              console.log('here', ss);

              $("#departmentsDropdown").html(s);

          }

      }).done((data) => {

          console.log('ok', data.ss);

      }).fail(() => {
          console.log('fail');

      })


  })
  async function Edit_product(api) {

      console.log(getApi)
      var View_data

      const result = await $.ajax({
          url: getApi,
          type: 'GET',
          dataType: 'json',
          success: function (data, textStatus, xhr) {
              console.log('name', data.data.product_name);
              var product_name = data.data
              var src = product_name.product_pic_big

              $('#image').attr('src', src);
              $('#myForm').attr('action', 'http://localhost:3000/api/cap-nhat-san-pham/' + data.data._id)
              $("#ID").val(data.data._id)
              $("#product_name1").val(data.data.product_name)
              $("#product_price").val(data.data.product_price)
              $("#product_detail").val(data.data.product_detail)
              $("#product_quantity").val(data.data.product_quantity)
              $("#cate_id").val(data.data.cate_id)
              $("#brand_id").val(data.data.brand_id)


          },
          error: function (xhr, textStatus, errorThrown) {
              console.log('Error in Operation');
          }
      })
      $(document).ready(() => {
          $("#myForm").submit(function (event) {
              event.preventDefault();
              window.location.replace('http://localhost:3000/api/index')

          });



      })





  }





</script>

<%- include('../layouts/footer') %>