<%- include('../layouts/header') %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <!-- Task Manager -->
  <section class="content">
  <div class="row">
    <div class="col-xl-12 col-12">
      <div class="box">
        <div class="box-header with-border">
          <h4 class="box-title">THỐNG KÊ</h4>
        </div>
        <div class="box-body">				
          <div class="table-responsive">
            <table class="table tasks-list mb-0">
              <thead>
                <tr role="row" class="bg-light-blue">
                  <th style="width: 5%;" colspan="1" rowspan="1">STT</th>
                  <th style="width: 40%;" colspan="1" rowspan="1">MÔ TẢ</th>
                  <th style="width: 20%;" colspan="1" rowspan="1">NGÀY</th>
                  <th style="width: 15%;" colspan="1" rowspan="1">TỔNG</th>
                </tr>
              </thead>
              <tbody>							
                <tr>
                  <td>1</td>
                  <td>
                    <div class="font-weight-600"><a href="#">Tổng User Tham Gia</a></div>
                  </td>
                  <!-- <td>
                    <div class="btn-group">
                      <a href="#" class="label label-danger">
                        Highest
                      </a>
                    </div>                                                
                  </td> -->
                  <td>
                    <div class="input-group input-group-transparent">
                      <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                      <input class="form-control" value="2019-Oct-19" type="text">
                    </div>
                  </td>

                  <td>
                    <div class="font-weight-600">200</div>
                     <!-- <div class="btn-group">
                      <a href="#" class="label label-info">
                         Open
                      </a>
                     </div> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
    
  </div>
</section>
  <!-- /.content -->
</div>

<%- include('../layouts/footer') %>