<%- include('../layouts/header') %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <!-- Task Manager -->
  <section class="content">
  <div class="row">
    <div class="col-xl-12 col-12">
      <div class="box">
        <div class="box-header with-border">
          <h4 class="box-title">THỐNG KÊ</h4>
        </div>
        <div class="panel-body">

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Tổng Unique User Tham Gian</label>
            <div class="col-sm-3">
              <input type="date" id="start-time-event" class="form-control" value="2020-09-12">
            </div>
            <div class="col-sm-1">
              <p style="margin-top: 10px; text-align: center;">TO</p>
            </div>
            <div class="col-sm-3">
              <input type="date" id="start-time-event" class="form-control" value="2020-09-12">
            </div>
          </div>
          
        </div>
        </div>
      </div>
    
  </div>
</section>
  <!-- /.content -->
</div>

<%- include('../layouts/footer') %>