<%- include('../layouts/header') %>

  <div class="content-wrapper">
    <section class="content">
      <div style="background-color: white;">
        <div class="div-all-item">
          <label class="sel-item" >Loại Vật Phẩm</label>
          <select class="sel-item" id="sel-id-item">
            <% for (d of data) { %>
              <option value="<%= d['id'] %>"><%= d['name'] %></option>
            <% } %>
          </select>

          <label class="time-right">Thời Gian</label>
          <input style="outline-style: none;" type="date" id="time-sel-item" class="col-3 time-right" value="2020-09-12">
        </div>

        <table id="total-amount-item-table" class="footable table table-stripped">
          <thead>
            <tr>
              <th style="font-weight: bold;">ID</th>
              <th style="font-weight: bold;">NAME</th>
              <th style="font-weight: bold;">TYPE</th>
              <th style="font-weight: bold;">TOTAL</th>
            </tr>
          </thead>
          <tbody>
          </tfoot>
        </table>
      </div>
    </section>
  </div>

  <script>
    
    $(document).ready(() => {

      let date    = new Date();
      let strTime = convertDateToStringInputDate(date.getDate(), date.getMonth() + 1, date.getFullYear());
      $('#time-sel-item').val(strTime);

      let idItem  = $('#sel-id-item').val();
      let dateStr = $('#time-sel-item').val();
      callApiGetTotalAmountItem(idItem, dateStr);

      searchDetail();
      exportDataTableToExcel();

      $('#sel-id-item').on('change', () => {
        let idItem  = $('#sel-id-item').val();
        let dateStr = $('#time-sel-item').val();
        callApiGetTotalAmountItem(idItem, dateStr);
      });

      $('#time-sel-item').on('change', () => {
        let idItem  = $('#sel-id-item').val();
        let dateStr = $('#time-sel-item').val();
        callApiGetTotalAmountItem(idItem, dateStr);
      });

    });

    function searchDetail() {
      $('#search-detail').on('keyup', () => {
        let txtSearch = $('#search-detail').val().toLowerCase();
        let tr        = $('#details-table tbody tr');

        for (let i=0; i<tr.length; i++) {
          let isMatch = false;
          for (let t of tr[i].getElementsByTagName('td')) {
            if (t.textContent.toLowerCase().includes(txtSearch)) {
              isMatch = true;
              break;
            }
          }
          
          if (isMatch) {
            tr[i].style.display = '';
          }
          else {
            tr[i].style.display = 'none';
          }
        }
      });
    }

    function callApiGetTotalAmountItem(idItem, dateStr) {
      $('#loading').css('display', 'block');
      $.ajax({
        url           : env.http + window.location.host + '/api/v1/admin/item/get-total-amount-item-by-id',
        method        : "POST",
        headers       : {
          'Authorization'	: `Bearer ${localStorage.getItem('token')}`,
          'Content-Type'	:'application/json'
        },
        contentType   : 'application/json; charset=utf-8',
        data          : JSON.stringify({
          id_item     : idItem,
          date_str    : dateStr
        })
      })
        .done((data) => {
          
          if (data['status_code'] !== 2000) {

            if (data['error'] === 'unvalid token') {
              window.location.href = env.http + window.location.host + '/api/v1/admin/signin';
              return;
            }

            alert(data['error']);
            $('#loading').css('display', 'none');
            return;
          }
          $('#loading').css('display', 'none');
          setDataTotalAmountItemTable(data['item'], data['total']);
          setDataDetailItemTable(data['details']);

        })
        .fail(() => {});
    }

    function setDataDetailItemTable(data) {         //data is json obj; data = [{mega_code: string, data: [json obj]}]
      $('#details-table tbody').remove();

      let markup = '<tbody>';
      for (d of data) {
        let megaID = d['mega_code'];
        for (h of d['data']) {
          let strTime = convertMillisecondToStrDate(h['time']);
          markup += `
            <tr>
              <td>${megaID}</td>
              <td>${h['user_name']}</td>
              <td>${strTime}</td>
            </tr>
          `;
        }
      }
      $('#details-table').append(markup);
    }

    function setDataTotalAmountItemTable(data, total) {
      $('#total-amount-item-table tbody').remove();

      let tmpTypeStr = 'MCH';
      if (data['type'] === 0) {
        tmpTypeStr = 'Quà';
      }else if (data['type'] === 1) {
        tmpTypeStr = 'Thẻ Cào';
      }

      let markup = `
        <tbody>
          <tr>
            <td>${data['id']}</td>
            <td>${data['name']}</td>
            <td>${tmpTypeStr}</td>
            <td>${total}</td>
          </tr>
        </tbody>
      `;
      $('#total-amount-item-table').append(markup);
    }

    function convertDateToStringInputDate(date, month, year) {
      let str = `${year}-`;
      if (month < 10) str += `0${month}-`;
      else            str += `${month}-`;

      if (date < 10)  str += `0${date}`;
      else            str += `${date}`;

      return str;
    }

    function convertMillisecondToStrDate(millisecond) {
      let d = new Date(millisecond + 7 * 3600 * 1000);
      return `${d.getDate()}-${d.getMonth()}-${d.getFullYear()}`;
    }

    function exportDataTableToExcel() {
      $('#btn-log-excel').click(() => {
        $('#details-table').table2csv({delivery: 'value'});
      });
    }

  </script>

<%- include('../layouts/footer') %>