
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/public/vendor_components/bootstrap/dist/css/bootstrap.css">

    <!-- Custom styles for this template -->
    <link href="/public/css/signin.css" rel="stylesheet">

    <script src="/public/js/env.js"></script>
  </head>

  <body class="text-center">
    <div class="from-group col-3">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label class="sr-only">Email address</label>
      <input type="email" id="input-mail" class="form-control" placeholder="Email address" required autofocus>
      <label id="label-token" class="sr-only">Token</label>
      <input type="password" id="input-token" class="form-control" placeholder="Token" required>
      <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div> -->

      <br>
      <br>

      <button id="btn-get-token" class="btn btn-lg btn-primary btn-block">Get Token</button>
      <button id="btn-sign-in" class="btn btn-lg btn-primary btn-block">Sign In</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
    </div>
  </body>

  <script src="/public/vendor_components/jquery/dist/jquery.js"></script>

  <script>
    $(document).ready(() => {

      hideInputToken();

      $('#btn-get-token').click(() => {
        let text = $('#btn-sign-in').text();
        callApiGetToken($('#input-mail').val());
      });

      $('#btn-sign-in').click(() => {
        let mailer  = $('#input-mail').val();
        let token   = $('#input-token').val();
        callApiSignin(mailer, token);
      });

    });

    function callApiGetToken(mailer) {
      $.ajax({
        url           : env.http + window.location.host + '/api/v1/admin/signin/get-token',
        method        : 'POST',
        contentType   : 'application/json; charset=utf-8',
        data          : JSON.stringify({
          mailer      : mailer
        })
      })
        .done((data) => {

          if (data['status_code'] !== 2000) {
            alert(data['error']);
            return;
          }
          showInputToken();

        })
        .fail(() => {});
    }

    function callApiSignin(mailer, token) {
      $.ajax({
        url               : env.http + window.location.host + '/api/v1/admin/signin/sign-in',
        method            : 'POST',
        contentType       : 'application/json; charset=utf-8',
        data              : JSON.stringify({
          mailer          : mailer,
          token           : token
        })
      })
        .done((data) => {

          if (data['status_code'] !== 2000) {
            alert(data['error']);
            return;
          }
          localStorage.setItem('mailer', data['mailer']);
          localStorage.setItem('token', data['token']);
          window.location.replace(env.http + window.location.host + '/api/v1/admin/dashboard?token=' + data['token']);
        })
        .fail(() => {});
    }

    function hideInputToken() {
      $('#btn-get-token').css('display', '');
      $('#btn-sign-in').css('display', 'none');
      $('#label-token').css('display', 'none');
      $('#input-token').css('display', 'none');
    }

    function showInputToken() {
      $('#btn-get-token').css('display', 'none');
      $('#btn-sign-in').css('display', '');
      $('#label-token').css('display', '');
      $('#input-token').css('display', '');
    }
  </script>

</html>
