<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Phi Tieu Game - Admin Tool</title>
    
	<!-- Bootstrap 4.0-->
  <link rel="stylesheet" href="/public/vendor_components/bootstrap/dist/css/bootstrap.css">
	
	<!-- Bootstrap-extend -->
	<link rel="stylesheet" href="/public/css/bootstrap-extend.css">
	
	<!-- theme style -->
  <link rel="stylesheet" href="/public/css/master_style.css">
  
  <!-- mycss -->
  <link rel="stylesheet" href="/public/css/mycss.css">
	
	<!-- Unique_Admin skins -->
  <link rel="stylesheet" href="/public/css/skins/_all-skins.css">


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>

     
  </head>

<body class="sidebar-mini skin-black">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="index.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <b class="logo-mini">
        <span class="light-logo"><img src="/public/images/logo-light.png" alt="logo"></span>
        <span class="dark-logo"><img src="/public/images/logo-dark.png" alt="logo"></span>
      </b>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">
        <img src="/public/images/logo-light-text.png" alt="logo" class="light-logo">
        <img src="/public/images/logo-dark-text.png" alt="logo" class="dark-logo">
      </span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="collapse-btn" style="margin-left: 20px;" data-toggle="push-menu" role="button">
        <i class="fas fa-bars"></i>
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-cog fa-spin"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="ulogo">
          <a href="index.html">
            <!-- logo for regular state and mobile devices -->
            <span><b>Admin </b>Tool</span>
          </a>
        </div>
        <div class="image">
          <img src="/public/images/user2-160x160.jpg" class="rounded-circle" alt="User Image">
        </div>
        <div class="info">
          <a id="logout" href="#">Logout</a>
        </div>
      </div>
      <!-- sidebar menu -->
      <ul class="sidebar-menu" data-widget="tree">
		    <li class="nav-devider"></li>
        <li class="header nav-small-cap">PERSONAL</li>

        <!-- Trang chủ /api/v1/admin/dashboard/ -->
        <li>
          <a href="#" onclick="callApi('/api/v1/admin/dashboard')">
            <i class="fa fa-dashboard"></i> <span>TRANG CHỦ</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
        </li>

        <!-- DANH SÁCH QUÀ -->
        <li>
          <a href="#" onclick="callApi('/api/v1/admin/item/get-all-item')">
            <i class="fa fa-th"></i>
            <span>DANH SÁCH VẬT PHẨM</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
        </li>
        
        <!-- CHECK CODE -->
        <li>
          <a href="#" onclick="callApi('/api/v1/admin/code')">
            <i class="fa fa-check"></i>
            <span>KIỂM TRA MÃ DỰ THƯỞNG</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
        </li>

        <!-- ADD SPECIAL ITEM -->
        <li>
          <a href="#" onclick="callApi('/api/v1/admin/item/view-add-special-item')" id="ls-item">
            <i class="fa fa-gift"></i>
            <span>THÊM QUÀ ĐẶC BIỆT</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
        </li>

        <!-- UNLOCK USER -->
        <li>
          <a href="#" onclick="callApi('/api/v1/admin/unlock')" id="ls-item">
            <i class="fa fa-unlock"></i>
            <span>MỞ KHÓA ACC</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
        </li>

        <!-- ROLE -->
        <li>
          <a href="#" onclick="callApi('/api/v1/admin/role')" id="ls-item">
            <i class="fa fa-user-tag"></i>
            <span>ROLE</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
        </li>

        <!-- THÔNG TIN USER -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i> <span>THÔNG TIN USERS</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#" onclick="callApi('/api/v1/admin/user-info/general')">Thông Tin Chung</a></li>
            <li><a href="#" onclick="callApi('/api/v1/admin/user-info/turnning')">Lượt Chơi</a></li>
            <li><a href="#" onclick="callApi('/api/v1/admin/user-info/enter-code')">Nhập Code</a></li>
            <li><a href="#" onclick="callApi('/api/v1/admin/user-info/get-log-code-fail')">Code Failed</a></li>
          </ul>
        </li>

        <!-- CONFIG -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cog"></i>
            <span>CONFIG</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#" onclick="callApi('/api/v1/admin/setup/get-config-partition')">Partition</a></li>
            <li><a href="#" onclick="callApi('/api/v1/admin/setup/get-config-item')">Item</a></li>
            <li><a href="#" onclick="callApi('/api/v1/admin/setup/get-config-event')">Event</a></li>
            <!-- <li><a href="#" onclick="callApi('/api/v1/admin/setup/get-config-mission')">Mission</a></li> -->
            <li><a href="#" onclick="callApi('/api/v1/admin/setup/get-config-black-list')">Black List</a></li>
            <li><a href="#" onclick="callApi('/api/v1/admin/setup/get-supporting-item')">Supporting Item</a></li>
            <li><a href="#" onclick="callApi('/api/v1/admin/setup/get-config-global')">Global</a></li>
            <li><a href="#" onclick="callApi('/api/v1/admin/setup/get-config-block-acc')">Block Acc</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <div id="loading">
    <img id="loading-image" src="https://cdn.nirmaltv.com/images/generatorphp-thumb.gif" alt="Loading..." />
  </div>

  <script>

    $(document).ready(() => {
      $('#logout').click(() => {
        $.ajax({
          url               : env.http + window.location.host + '/api/v1/admin/signin/logout',
          method            : 'POST',
          contentType       : 'application/json; charset=utf-8',
          data              : JSON.stringify({
            mailer          : localStorage.getItem('mailer')
          })
        })
          .done((data) => {
            window.location.href = env.http + window.location.host + '/api/v1/admin/signin';
          })
          .fail(() => {});
      });
    });
    
    function callApi(url) {
      window.location.href = url + '?token=' + localStorage.getItem('token');
    }

  </script>